@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Geologica', sans-serif;
  margin: 0;
  padding: 0;
  /* font: italic small-caps bold 15px monospace ; */
  /* color: #333; */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.list {
  display: flex;
  /* float: right; */
}

#close {
  display: none;
}

.topnav {
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 15px;
}

.topnav a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-bottom: 1px solid #333;
}

.topnav a.active {
  border-bottom: 1px solid #333;
  color: #333;
}

.topnav .icon {
  display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.hero {
  background: url(./jeans.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 100%;
  margin:10px auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding-top: 15px;
}

.hero:nth-child(2){
  background: url(./banner.jpg)center/cover no-repeat;
}

.hero:nth-child(3){
  background: url(./banner1.jpg)center/cover no-repeat;
  color: #111;
 text-align: center;
}

.hero:not(:first-child) {
  display: none;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.center {
  display: flex;
  /* padding: 20px; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #fff;
}


.categories {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 90%;
  background: #eee;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 10px;
}

.search input {
  width: 90%;
  border: 0;
  outline: 0;
  background: none;
  font-size: 20px;
}

.search button {
  font-size: 20px;
  background: none;
  border: 0;
  margin:0 5px;
}

.card-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.card {
  width: 48%;
  height: 48%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .pic {
  position: relative;

}

.card .pic img {
  width: 100%;
  height: 100%;
  transition: 0.4s;
}



.card .pic img:hover {
  transform: scale(1.1);
}

.card .btn {
  position: absolute;
  bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  left: 10px;
  font-weight: 100;
  background: #fd5f5f;
}

.card h3 {
  position: absolute;
  top: 20px;
  left: 10px;
  text-align: start;
}

.card .btn a {
  color: #fff;
  text-decoration: none;
}

.blakfri {
  height: auto;
  width: 100%;
}

.card-hold,
.card-hold-1 {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: auto;
}

.cards {
  /* background:blue; */
  height: 400px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 40%;
}

.cards .img img {
  height: 150px;
  width: 150px;
}

.tag {
  height: 50px;
  width: 50px;
  background: yellow;
  color: red;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  right: -25px;
}

.tag#closed {
  height: 60px;
  width: 60px;
}

.btn-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-holder button {
  font-size: 15px;
  margin: 10px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.reaction {
  width: 30%;
  padding: 10px 0;
  display: flex;
}

.cards button {
  background: #333;
  color: #fff;
  border-color: #333;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.reaction button {
  width: 50%;
  border: 0;
  background: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-heart:active {
  color: red;
}

.cards p {
  color: black;
  word-spacing: 20px;
}

.features {
  height: 20vh;
  width: 100%;
  flex-direction: column;
  background: #435761;
  color: #fff;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.sponsor-card-holder {
  width: 100%;
  height: auto;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.sponsor-card {
  padding: 20px 10px;
}

footer {
  background: black;
  display: flex;
  justify-content: space-between;
}

footer p {
  padding: 10px;
}

.productHolder {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: none;
}

.productInfo {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  background: #fff;
  padding: 0 20px;
  flex-direction: column;
  width: 40%;
}

.productInfo img,
.productInfo h4,
.productInfo button {
  margin: 20px auto;
  display: block;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.productInfo img {
  height: 300px;
  width: 300px;
}

.productInfo .part {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productInfo .size {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.productInfo .size span {
  height: 35px;
  width: 50px;
  border: 1px solid #d8d7d7;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 15px;
  cursor: pointer;
  justify-content: center;
}

.size span.activeSize{
  background: #000;
  color: #fff;
}

.productInfo .color {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.productInfo .color span {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: yellow;
  border: 5px solid #fff;
  outline: 1px solid #ddd;
}

.productInfo .color span:hover,.productInfo .color span.activeColor  {
  outline: 1px solid ;
}

.productInfo .color span:nth-child(2) {
  background: purple;
}

.productInfo .color span:nth-child(3) {
  background: blue;
}

.productHolder.gone{
  display: none;
}

.productInfo button{
  width: 90%;
  padding: 15px 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  background: #000;
  color: #fff;
  cursor: pointer;
}


@media screen and (max-width: 370px) {
  .card-hold {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) {

  .card-hold,
  .card-hold-1 {
    display: flex;
    gap: 45px;
    overflow-x: scroll;
  }

  .blakfri {
    height: auto;
  }
  .productHolder{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .productInfo{
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {

  .topnav{
    padding: 0;

  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav .list a {
    float: none;
    display: block;
    text-align: left;
  }

  .list {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: white;
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
    padding-top: 60px;
  }

  #close {
    position: absolute;
    top: 10px;
    right: 25px;
    display: block;
    font-size: 20px;
    margin-left: 50px;
    color: #333;
  }

  .hero {
    width: 85%;
  }

  .hero h1 {
    font-size: 20px;
  }

  .categories {
    height: auto;
    width: 100%;
  }

  .card-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    gap: 15px;
    width: 100%;
    /* padding: 15px 0; */
    margin: 25px 0;
    height: auto;
  }


  .card {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .card .pic,
  .card .pic img {
    width: 200px;
    border-radius: 30px;
    height: 200px;
  }

  .blakfri {
    height: auto;
  }

  .card-hold,
  .card-hold-1 {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    margin-top: 0;
  }

  .cards {
    width: 100%;
    height: auto;
  }


  .sponsor-card {
    padding: 30px;
  }

.productHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.productInfo{
  position: relative;
  width: 100%;
}

  footer {
    background: black;
    display: flex;
    color: #fff;
    flex-direction: column;
  }


}